body {
  background-color: #0b0c10;
  color: #66fcf1
}


.overlay__background {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  cursor: pointer;
  z-index: 9;
}

.overlay__container {
  background-color: white;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  z-index: 10;
  padding: 30px;
  width: fit-content;
  height: fit-content;
}


.movie-list{
    display: flex;

}


.card {
    display: flex;
    flex-direction: column;
  }
  
.card_body {
    display: flex;
    flex: 1 0 auto;
    align-items: flex-end;
    justify-content: center;
}
.icon {
    position: relative;
    /* Adjust these values accordingly */
    top: 6px;
    left: -5px;
  }